@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom_slide_out {
  animation-name: fade-out-slide-out;
  animation-duration: 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes fade-out-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.text-truncate-custom {
  overflow: hidden;
  max-height: 6rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.cursor {
  cursor: pointer !important;
}

.__json-pretty__ {
  overflow: auto;
}

.__json-key__ {
  color: rgb(246, 17, 17);
}

.__json-value__ {
  color: rgb(22, 185, 128);
}

.__json-string__ {
  color: rgb(13, 61, 221);
}

.__json-boolean__ {
  color: rgb(22, 185, 128);
}
